<div>
  {{> message}}
  <div>
    <div class="navbar d-flex flex-column" style="max-height: 1200px; min-width: 235px">
      <div style="font-weight: bold;font-size: 20px;display:contents">
        <div style="margin-bottom:100px">
          <img src="https://avatars.githubusercontent.com/u/8667311?s=200&v=4" alt="" style="height: 100px;">
        </div>

        <div style="">
          <a href="/admin/tweets" style="color: black;">推文清單</a>
          <br>
          <br>
          <a href="/admin/users" style="color: black;">使用者清單</a>
        </div>

        {{#if user}}
        <div style="margin-top: 450px;">
          <a href="/logout" style="color: black; text-decoration: none;">
            <span><i class="fas fa-sign-out-alt fa-rotate-180"></i></span>
            <span style="margin-left: 23px;">登出</span>
          </a>
        </div>
        {{/if}}
      </div>

      <div style="padding-left: 150px;width:1200px">
        <table class="table">
          <tbody>
            {{#each tweets}}
            <tr>

              <th scope="row" style="width: 100px;">
                <a href="/admin/users/{{this.UserId}}">
                  <img src="{{this.avatar}}" alt="" style="border-radius: 50%;width:100%">
                </a>
              </th>
              <td>{{this.name}} {{this.account}}
                <br>
                {{this.description}}
              </td>
              <td>
                <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="btn btn-link">X</button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <br>
        <hr>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center" style="margin-top: 180px;">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="/admin/tweets?page={{prev}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{#each totalPage}}
            {{#ifCond this ../page}}
            <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
            {{else}}
            <li class="page-item"><a class="page-link" href="/admin/tweets?page={{this}}">{{this}}</a></li>
            {{/ifCond}}
            {{/each}}
            <li class="page-item"><a class="page-link" href="/admin/tweets?page={{next}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</div>